body {
    background-image: linear-gradient(to top right, rgb(106, 60, 120), rgb(111, 55, 132), rgb(117, 49, 145), rgb(122, 44, 157), rgb(128, 38, 169), rgb(133, 33, 181), rgb(139, 27, 194), rgb(144, 22, 206), rgb(150, 16, 218), rgb(155, 11, 230), rgb(161, 5, 243), rgb(166, 0, 255));
}

.header,
.footer {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.198);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.cv {
    width: 618px;
    margin: 100px auto;
    display: flex;
}

.left__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    background-color: #1d2839;
    padding-top: 37px;
}

.right__part {
    width: 380px;
    padding-bottom: 50px;
    background-color: #fff;
}

.person__pht {
    display: flex;
    justify-content: center;
    width: 139px;
    height: 139px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.pic {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.info__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocks__title {
    text-transform: uppercase;
    color: #2974e2;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 17px;
}

ul {
    padding: 0;
}

.contacts li {
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.skills li,
.language li {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.number__block::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background-image: url("../imgs/phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.mail__block::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.telegram__block::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background-image: url("../imgs/web.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.span {
    width: 68px;
    height: 2px;
    background-color: #626787;
}

.title__name {
    background-image: linear-gradient(to top right, rgb(101, 115, 255), rgb(100, 107, 251), rgb(99, 99, 248), rgb(98, 91, 244), rgb(97, 83, 240), rgb(96, 75, 236), rgb(94, 66, 233), rgb(93, 58, 229), rgb(92, 50, 225), rgb(91, 42, 221), rgb(90, 34, 218), rgb(89, 26, 214));
    padding: 70px 0 100px 25px;
}

.person__name {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-size: 29px;
    font-weight: bold;
    margin: 0;
}

.person__position {
    text-transform: uppercase;
    color: #81efe2;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.right__part section {
    padding-left: 25px;
}

.blocks__title2 {
    text-transform: uppercase;
    color: #1d2839;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.right__part-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile__block:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../imgs/person.png") center center no-repeat;
    background-size: contain;
    margin-right: 8px;
}

.span2 {
    height: 1px;
    background-color: #2974e2;
    width: 100%;
    margin-left: 7px;
}

.about__me {
    color: #626787;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.expirience__block:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../imgs/pc.png") center center no-repeat;
    background-size: contain;
    margin-right: 8px;
}

.education__block::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../imgs/edu.png") center center no-repeat;
    background-size: contain;
    margin-right: 8px;
}

.expirience__item {
    font-family: 'Source Sans Pro', sans-serif;
}

.company__name {
    margin: 0;
    text-transform: uppercase;
    color: #1d2839;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.13px;
}

.work__years {
    color: #626787;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.work,
.code__example {
    color: #626787;
    font-size: 11px;
    font-weight: 400;
}

.code__example {
    font-family: 'Source Sans Pro', sans-serif;
}

.header__title,
a {
    text-transform: uppercase;
    color: #ffffffaf;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

a {
    text-decoration: none;
}